{% extends 'dashboard.html.twig' %}

{% block body %}
    {% set error = 0 %}

    {% if app.session.flashBag.get('error') == true %}
        {% set error = 1 %}
    {% endif %}


    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Utwórz nowego klienta</h4>
                <div class="row">
                    <p class="category pull-right" style="padding-right: 25px"><a type="button" class="btn btn-success btn-fill btn-wd" href="{{ path('clients_index') }}">Wróć do listy</a></p>
                </div>
            </div>
            <div class="content">
                <form action="{{ path('clients_new') }}" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Imię</label>
                                <input type="text" class="form-control border-input" name="name" placeholder="Imię" value="{{ client.name }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nazwisko</label>
                                <input type="text" class="form-control border-input" name="surname" placeholder="Nazwisko" value="{{ client.surname }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Nazwa firmy</label>
                                <input type="text" class="form-control border-input" name="company" placeholder="Nazwa firmy" value="{{ client.company }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group {% if error == 1 %}has-error{% endif %}">
                                <label>NIP {% if error == 1 %}(już istnieje w bazie danych!){% endif %}</label>
                                <input type="text" class="form-control border-input" name="nip" placeholder="NIP" value="{{ client.nip }}">
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Zapisz</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <br>
            </div>
        </div>
    </div>

    {% set error = 0 %}
{% endblock %}
