{% extends 'dashboard.html.twig' %}



{% block body %}
    <div class="col-lg-5 col-md-5">
        <div class="card" id="receipt">
            <form action="{{ path('orders_new') }}" method="POST">
                <div class="header">
                    <h4 class="title">Wybrane produkty&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success btn-fill pull-right">
                            Zapisz zamówienie
                        </button>
                    </h4>
                    <br>
                </div>
                <br>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="form-group">

                        <!-- Tu wybór klienta inputem text z autocomplete -->

                        <div class="ui-widget">
                            <label>Klient</label>
                            <input id="choose-client" name="client" type="text" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="content table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Ilość</th>
                        <th>Suma</th>
                        </thead>
                        <tbody>


                        <tr id="productsListSum">
                            <td></td>
                            <td></td>
                            <td><b>Suma:</b></td>
                            <td>XXX zł</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-7 col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Wybrane produkty</h4>
            </div>
            <div class="content table-responsive">

                <div class="container-fluid">
                    <div class="row">


                        {% for product in products %}
                            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-xs-4">
                                <div class="card">

                                    <div class="thumbnail" id="product{{ product.id }}"
                                         data-product-id="{{ product.id }}" data-product-name="{{ product.name }}"
                                         data-product-price="{{ product.price }}"
                                         data-product-price-kg="{{ product.priceKg }}">
                                        <a href="#" data-toggle="modal" data-target="#myModal">
                                            <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" alt="Lights"
                                                 style="width:100%">
                                            <div class="caption">
                                                <p>
                                                    <small><b>{{ product }}</b></small>
                                                </p>
                                            </div>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
